
/*
*Header
*/
#header{
	position: fixed;
	top:0;
	min-height: 36px;
}
.brand-logo{
	font-family: 'Roboto', sans-serif;
	color: #e0e0e0;
	 font-weight: 200;
	 font-size: 0.8em;
}
.brand-logo > .head-title-e {
	color: white;
	transition: 0.2s all ease-in-out;
}
.brand-logo:hover > .head-title-e {
	color: teal ;
}
#head-row{
	margin-bottom: 0px;
}
.head-links{
	display:block;
	color: #e0e0e0;
	position: relative;
    z-index: 2;
    display: block;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
/*	border-top-left-radius: 10px 25px;
    border-top-right-radius: 10px 25px;
    border-bottom-right-radius: 10px 25px;
    border-bottom-left-radius: 10px 25px;*/
	border: 10px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	background-color: inherit;
	transition: 0.2s all ease-in-out;
}
.head-links:hover{
	display: block;
	color: white;
	/*background-color: #c5cae9;*/
	background-color: teal;
}
.head-links-mobile{
	display:block;
	color: #e0e0e0;
	position: relative;
    z-index: 2;
    display: block;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
/*	border-top-left-radius: 10px 25px;
    border-top-right-radius: 10px 25px;
    border-bottom-right-radius: 10px 25px;
    border-bottom-left-radius: 10px 25px;*/
	border: 10px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	background-color: inherit;
	transition: 0.2s all ease-in-out;
}
.head-links-mobile:hover{
	display: block;
	color: black;
	/*background-color: #c5cae9;*/
	background-color: teal;
}
#head-container{
	transition: all 0.4s ease;

}
/*.head-links#head-login{
	color: #e0e0e0;
}*/
.head-links#head-login:hover{
	background-color: #ff4081 ;
	color:white;
}
.head-links#head-signup:hover{
	background-color: #ff4081 ;
	color: white;
}
#head-welcome{
	border-radius: 0px;
}

/*
*Header end
*/

/*
*Footer start
*/
.footer-link-division{
}
.footer-link{
	float: left;
	font-size: 13px;
	display: block;
	color: black;
	font-weight: 500;
	padding-right:0px;
	text-align: -webkit-match-parent;
	font-family: "Helvetica","Arial",sans-serif;
	padding-left:25px;
}
#footer{
	position: fixed;
	bottom:0;
	z-index: 3;
}



/*
* Fixing colors for pink input field
*/
/*
.focus-pink{
	 box-shadow: 0 1px 0 0 pink;
	 border-bottom: 1px solid pink;
}
.focus-pink:focus {
  border-bottom: 1px solid pink;
  box-shadow: 0 1px 0 0 pink;
}

.focus-pink:focus + label {
  color: pink;
}
*/
/**
* Roboto font class
**/
.roboto-thin-text{
	font-family: 'Roboto', sans-serif;
	color: #e0e0e0;
	 font-weight: 200;
}
/**
* Background Image
**/
body {  
	background-image: url(../../cm.jpg);
	background-attachment: fixed;
	background-size: contain;
	background-repeat: repeat-x repeat-y; 
	background-position: fixed;
	background-size: 33%;
	min-height: 100vh;
} 
/**
* Valign fix for cards
**/
#content{
	min-height: 100vh;
}
/**
* JQuery Validate style
**/
.errorMessage{
	padding-left: 25px;
	color: red;
}
