
/*
*Header
*/
#header{
	position: fixed;
	top:0;
	min-height: 36px;
	z-index: 3;
}
.brand-logo{
	font-family: 'Roboto', sans-serif;
	color: #e0e0e0;
	 font-weight: 200;
	 font-size: 0.8em;
}
.brand-logo > .head-title-e {
	color: white;
	transition: 0.2s all ease-in-out;
}
.brand-logo:hover > .head-title-e {
	color: teal ;
}
#head-row{
	margin-bottom: 0px;
}
.head-links{
	display:block;
	color: #e0e0e0;
	position: relative;
    z-index: 2;
    display: block;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
/*	border-top-left-radius: 10px 25px;
    border-top-right-radius: 10px 25px;
    border-bottom-right-radius: 10px 25px;
    border-bottom-left-radius: 10px 25px;*/
	border: 10px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	background-color: inherit;
	transition: 0.2s all ease-in-out;
}
.head-links:hover{
	display: block;
	color: white;
	/*background-color: #c5cae9;*/
	background-color: teal;
}
.head-links-mobile{
	display:block;
	color: #e0e0e0;
	position: relative;
    z-index: 2;
    display: block;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
/*	border-top-left-radius: 10px 25px;
    border-top-right-radius: 10px 25px;
    border-bottom-right-radius: 10px 25px;
    border-bottom-left-radius: 10px 25px;*/
	border: 10px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	background-color: inherit;
	transition: 0.2s all ease-in-out;
}
.head-links-mobile:hover{
	display: block;
	color: black;
	/*background-color: #c5cae9;*/
	background-color: teal;
}
#head-container{
	transition: all 0.4s ease;

}
/*.head-links#head-login{
	color: #e0e0e0;
}*/
.head-links#head-login:hover{
	background-color: #ff4081 ;
	color:white;
}
.head-links#head-signup:hover{
	background-color: #ff4081 ;
	color: white;
}
#head-welcome{
	border-radius: 0px;
}

/*
*Header end
*/

/*
*Footer start
*/
.footer-link-division{
}
.footer-link{
	float: left;
	font-size: 13px;
	display: block;
	color: black;
	font-weight: 500;
	padding-right:0px;
	text-align: -webkit-match-parent;
	font-family: "Helvetica","Arial",sans-serif;
	padding-left:25px;
}
#footer{
	position: fixed;
	bottom:0;
	z-index: 3;
}



/*
* Fixing colors for pink input field
*/
/*
.focus-pink{
	 box-shadow: 0 1px 0 0 pink;
	 border-bottom: 1px solid pink;
}
.focus-pink:focus {
  border-bottom: 1px solid pink;
  box-shadow: 0 1px 0 0 pink;
}

.focus-pink:focus + label {
  color: pink;
}
*/
/**
* Roboto font class
**/
.roboto-thin-text{
	font-family: 'Roboto', sans-serif;
	color: #e0e0e0;
	 font-weight: 200;
}
/**
* Background Image
**/
body {  
	background-image: url(../../cm.jpg);
	background-attachment: fixed;
	background-size: contain;
	background-repeat: repeat-x repeat-y; 
	background-position: fixed;
	background-size: 33%;
	min-height: 100vh;
} 
/**
* Valign fix for cards
**/
#content{
	min-height: 100vh;
}
/**
* JQuery Validate style
**/
.errorMessage{
	padding-left: 25px;
	color: red;
}

#register-btn{
	transition: all 0.2s ease-in-out;
}


    /**
    * ===================================================================
    * preloader
    *
    * -------------------------------------------------------------------
    */

    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0F1215;
        z-index: 9999999;
        height: 100%;
        width: 100%;
    }
    .no-js #preloader, .oldie #preloader {
        display: none;
    }
    #loader label {
        color: grey;
    }
    .cs-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .cs-loader-inner {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        width: calc(100%);
        color: #FFF;
        padding: 0 100px;
        text-align: center;
    }

    .cs-loader-inner label {
        font-size: 20px;
        opacity: 0;
        display:inline-block;
    }

    @keyframes preloading {
        0% {
            opacity: 0;
            transform: translateX(0px);
        }
        33% {
            opacity: 1;
            transform: translateX(0px);
        }
        66% {
            opacity: 1;
            transform: translateX(0px);
        }
        100% {
            opacity: 0;
            transform: translateX(0px);
        }
    }

    @-webkit-keyframes preloading {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-300px);
        }
        33% {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
        66% {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateX(300px);
        }
    }

    .cs-loader-inner label:nth-child(6) {
        -webkit-animation: preloading 1.5s infinite ease-in-out;
        animation: preloading 1.5s infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(5) {
        -webkit-animation: preloading 1.5s 100ms infinite ease-in-out;
        animation: preloading 1.5s 100ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(4) {
        -webkit-animation: preloading 1.5s 200ms infinite ease-in-out;
        animation: preloading 1.5s 200ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(3) {
        -webkit-animation: preloading 1.5s 300ms infinite ease-in-out;
        animation: preloading 1.5s 300ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(2) {
        -webkit-animation: preloading 1.5s 400ms infinite ease-in-out;
        animation: preloading 1.5s 400ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(1) {
        -webkit-animation: preloading 1.5s 500ms infinite ease-in-out;
        animation: preloading 1.5s 500ms infinite ease-in-out;
    }

    /**
     * ===================================================================
     * preloader
     *
     * -------------------------------------------------------------------
     */

/* Class for placement of error messages for jQuery Validate */
.errorMessage {
     font-size: 18px;
}
.errorMessage i,
.errorMessage [class^="mdi-"], .breadcrumb [class*="mdi-"],
.errorMessage i.material-icons {
    display: inline-block;
    float: left;
    font-size: 24px;
}
.errorMessage:before {
    content: '\E5CC';
    color: rgba(255, 255, 255, 0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}
.errorMessage:first-child:before {
    display: none;
}


.invalid {
	color: red;
	font-size: 1em;
}

/**
* Index.ASP
**/
#create-floating-btn{
    position: fixed;
   bottom: 45px; right: 24px;
    z-index: 999999;
}
